Django==5.2.10
cryptography==46.0.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-environ==0.13.0
beautifulsoup4==4.12.3
html5lib==1.1
tinycss2==1.5.1
webcolors==24.11.1
mysqlclient==2.2.8
loguru==0.7.3
weasyprint==61.0
openpyxl==3.1.2
